{{#section 'title'}}
    Trả giá
{{/section}}

{{#section 'css'}}
    <link href="/assets/site.css" rel="stylesheet" />
    <link href="/assets/css/bootstrap-social.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/breadcrumbs.css">
    <script type="text/javascript" src="assets/bootstrap-4.3.1-dist/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <link href="/assets/css/docs.css" rel="stylesheet">

    <style type="text/css">
        .btn-account i {
            margin-top: 2%;
            font-size: 30px;
        }
        
        .btn-account span {
            padding-left: 15px;
            padding-right: 5px;
            width: 100%;
            display: inline-block;
            text-align: left;
            font-size: 130%;
        }
        
        .btn-account span small {
            width: 100%;
            display: inline-block;
            text-align: left;
        }
    </style>
{{/section}}

{{#section 'js'}}
    <script src="/assets/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script type="text/javascript">

        var step;

        function getTouchSpinValues(stp, min) {
            step = stp;
            $( "#datgia" ).trigger("touchspin.updatesettings", {min: min, step: stp});
        }

        $(function(){
            $('div[onload]').trigger('onload');
            document.getElementById("giaphaitra").value = document.getElementById("datgia").value;
        });

        $('#datgia').TouchSpin({
            max: 999999999999,
            verticalButtons: true
        });
           
        $('#datgia').on('touchspin.on.startspin', function () {
            
            document.getElementById("giaphaitra").value = document.getElementById("datgia").value;
        });
     
    </script>
{{/section}}

{{#section 'breadcrumbs'}}
    <div class="row container-fluid" style="background: #f4f4f4;">
        <ol class="breadcrumb breadcrumb-arrow">
            <li><a href="/home">Trang chủ</a></li>
            <li><a href="/product/detail/{{product.masp}}">Sản phẩm</a></li>
            <li class="active"><span>Trả giá</span></li>
        </ol>
    </div>
{{/section}}

{{> accountPanel}}

<div style="background: #f4f4f4;" onload="getTouchSpinValues({{product.buocgia}}, {{add product.giahientai product.buocgia}})">
    <div class="container-fluid" style="width: 85%; max-width: none!important; margin-right: auto; margin-left: auto;">
        <div class="row">
            <div class="col-md-9">
                <div class="panel panel-default" style="border-color: #189eff;">
                    <div class="panel-heading" style="background-color: slateblue; color:#fff">
                        <span style="font-size: 150%;">{{product.tensp}}</span>
                    </div>
                    <div class="panel-body">
                        <!-- panel body -->
                        <div class="col-sm-8">
                            <form class="form-horizontal">
                                <!-- form -->
                                <div class="form-group">
                                    <label class="control-label col-sm-5" style="margin-top:4px">Giá hiện tại:</label>
                                    <div class="col-sm-7">
                                        <label class="control-label"><span style="font-size: 150%;color: #f00;">{{formatNumber product.giahientai}} VND</span> </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-5" style="margin-top:4px">Giá mua ngay:</label>
                                    <div class="col-sm-7">
                                        {{#if product.giamuangay}}
                                        
                                    <label class="control-label"><span style="font-size: 150%;color: #f00;">{{formatNumber product.giamuangay}} VND</span></label>
                                    {{else}}
                                     <label class="control-label"><span style="font-size: 150%;color: #f00;">KHÔNG CÓ</span></label>
                                    {{/if}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-5" style="margin-top:4px" >Hết hạn sau:</label>
                                    <div class="col-sm-7">
                                        <label class="control-label"><span style="font-size: 150%;color: #f00;">{{timeRemain product.tgketthuc}}</span></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-5">Chọn giá:</label>
                                    <div class="col-sm-6">
                                        <input id="datgia" type="text" class="form-control" value="{{add product.giahientai product.buocgia}}">
                                    </div>
                                </div>
                            </form>
                            <!-- form -->
                        </div>
                    </div>
                    <!-- panel body -->
                    <div class="panel-footer">
                        <div class="col-sm-offset-2" style="display:flex;">
                            <button type="submit" class="btn btn-success" style="margin-right: 10px;" data-toggle="modal" data-target="#confirmModal">Đặt giá</button>

                            <!-- Modal -->
                            <div id="confirmModal" class="modal fade" role="dialog">
                                <div class="modal-dialog modal-sm">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Xác nhận</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" action="/product/bid/{{product.masp}}">
                                                <div class="input-group" style="font-size:150%;">
                                                    Bạn đồng ý trả
                                                    <input type="text" class="btn btn-labeled" style="font-size:100%;width:50%;color:red;font-weight:bold" id="giaphaitra" name="giaphaitra" readonly></input><span style="color: red;font-weight:bold;padding-top:5px">VND</span>
                                                     <br>
                                                     cho sản phẩm này?
                                                </div>
                                                <div class="col-md-12" style="padding-left: 0; padding-right: 0;">
                                                    <button type="submit" class="btn btn-labeled btn-success" style="width: 49%">
                                                        <span class="btn-label"><i class="glyphicon glyphicon-ok"></i> </span>OK</button>
                                                    <button type="button" class="btn btn-labeled btn-danger" data-dismiss="modal" style="width: 49%">
                                                        <span class="btn-label"><i class="glyphicon glyphicon-remove"></i> </span> Hủy</button>
                                                </div>
                                                
                                            </form>
                                        </div>
                                        <div class="modal-footer"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal -->
                        {{#if product.giamuangay}}
                            <form method="post" action="/product/buynow/{{product.masp}}">
                                <button type="submit" class="btn btn-success" style="margin-right: 10px;background-color:orange">Mua ngay</button>
                            </form>
                            {{/if}}
                            <form method="get" action="/product/detail/{{product.masp}}">
                                <button type="submit" class="btn btn-default">Hủy</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>