{{#section 'title'}}
    Kết quả tìm kiếm
{{/section}}
{{#section 'breadcrumbs'}}
    <div class="row">
        <ol class="breadcrumb breadcrumb-arrow">
            <li><a href="/home">Trang chủ</a></li>
            <li class="active" style="font-weight:bold"><span>Kết quả tìm kiếm</span></li>
        </ol>
        <!-- /Đường dẫn -->
    </div>
{{/section}}
{{#section 'css'}}
    <link href="/assets/css/docs.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-social.css" rel="stylesheet" type="text/css" media="all" />
    <style type="text/css">
    .btn-account i {
        margin-top: 2%;
        font-size: 30px;
    }
    
    .btn-account span {
        padding-left: 15px;
        padding-right: 5px;
        width: 100%;
        display: inline-block;
        text-align: left;
        font-size: 130%;
    }
    
    .btn-account span small {
        width: 100%;
        display: inline-block;
        text-align: left;
    }
    </style>
{{/section}}
{{#section 'js'}}
    <script type="text/javascript" src="/assets/bootstrap-4.3.1-dist/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/assets/jquery-validation-1.12.0/jquery.validate.min.js"></script>
    <script type="text/javascript">
    function addOrUpdateUrlParam(name, value) {
        var href = window.location.href;
        var regex = new RegExp("[&\\?]" + name + "=");
        if (regex.test(href)) {
            regex = new RegExp("([&\\?])" + name + "=\\d+");
            window.location.href = href.replace(regex, "$1" + name + "=" + value);
        } else {
            if (href.indexOf("?") > -1)
                window.location.href = href + "&" + name + "=" + value;
            else
                window.location.href = href + "?" + name + "=" + value;
        }
    }
    </script>
{{/section}}
{{> categoriesPanel this}}
<div class="col-md-9 container " style="padding-left: 1%;">
     
    <div class="row" style="margin-bottom: 1%">
      
        <h4 style="display: inline-block; float:left;"><i class="fas fa-filter"></i>Sắp xếp&nbsp&nbsp</h4>
        <div class="dropdown">
            <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{orderString}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                 <li><a href="javascript: addOrUpdateUrlParam('order', 0);" data-value="another action"><i class="fas fa-filter"></i> Mặc định</a></li>
                <li><a href="javascript: addOrUpdateUrlParam('order', 1);" data-value="another action"><i class="fas fa-sort-amount-down-alt"></i> Thời gian kết thúc giảm dần</a></li>
                
                <li><a href="javascript: addOrUpdateUrlParam('order', 2);" data-value="separated link"><i class="fas fa-funnel-dollar"></i> Giá tăng dần</a></li>
            </ul>
        </div>
    </div>
    {{#each rows}}
     {{#if isRecent}}
     <div class="row well well-md " style="background-color:rgba(152, 219, 98, 0.788);border:1px solid royalblue">
     {{else}}
        <div class="row well well-md " style="background-color: #fff;border:1px solid royalblue">
            {{/if}}
            <div class="media ">
                <div class="media-left ">
                    <a href="/product/detail/{{masp}}"><img class="media-object pull-left " src="/images/sp/{{masp}}/main_thumbs.jpg" width="150px " height="130px " style="border:1px solid silver;border-radius:2px;margin-bottom:5px"></a>
                    <form method="post" action="/search?word={{word}}&cat={{cat}}&idsp={{masp}}">
                            <button class="btn btn-default" style="background-color:#4784FF;color:#fff;display:flex;align-items:center;width:100%;border-radius:5px;">
                                <span class="fas fa-heart" style="color:red;font-size:150%;"></span> &nbsp
                                <span style="font-weight:bold;">
                                 {{watching}}
                                </span>
                            </button>
                        </form>
                                   
                </div>
                 
                <div class="media-body ">
                    <div class="row ">
                        <!-- Tên sản phẩm -->
                        <div class="col-md-6">
                            <a class="media-heading " style="font-size: 150%;font-weight: bold; " href="/product/detail/{{masp}}"> {{tensp}}
                            </a>
                           
                            <br>
                            <div style="vertical-align: text-bottom">
                                <span>Người đăng: </span> <span style="font-weight:bold">{{ten}}</span>
                                <br>
                                <span>Danh mục: </span> <a href="/product/byCat/{{danhmuc}}" style="text-decoration: none;">{{ tendanhmuc}}</a>
                                <br>
                
                                <span>Ngày đăng: </span> <span style="font-weight: bold;">{{formatDay tgbatdau}}</span>
                                <br>
                               
                                 <span>Hết hạn sau: </span> <span style="color: red;font-weight:bold">{{timeRemain tgketthuc}}</span>
                                 <br>
                               <span>Số lượt ra giá hiện tại: </span><span style="color: red;font-weight:bold">{{solandaugia}}</span>
                              
                            </div>
                        </div>
                        <!-- Giá sản phẩm -->
                        <div class="col-md-4 " style="padding-top: 1%; border-left: 1px solid black; ">
                            <!-- Giá hiện tại -->
                            <span style="font-size: 100%;font-weight:bold ">Giá hiện tại:</span>
                            
                            <div style="text-align: left "> 
                               
                                <span class="numberical-info-small " style="font-weight: bold; color:#00f; font-size: 120%; text-align: right ">{{formatNumber giahientai}} VND </span>&nbsp</div>
                            <!-- Giá mua ngay -->
                            <span style="font-size: 100%;font-weight:bold ">Giá mua ngay: </span>
                            {{#if giamuangay}}
                                <div style="text-align:left ">
                                    <span class="numberical-info-small " style="font-weight: bold; font-size:120%; color:#f00 ">{{formatNumber giamuangay}}</span>&nbspvnd</div>
                            {{else}}
                                <div style="text-align: left ">
                                    <span class="numberical-info-small " style="font-weight: bold; font-size:120%; color:#f00 ">Không có</span>&nbsp</div>
                            {{/if}}
                            <!-- Người giữ giá -->
                            <span style="font-size: 100%;font-weight:bold ">Người giữ giá hiện tại:</span>
                            <br>
                            {{#if nguoigiugia}}
                                <div style="text-align: left">
                                    <span class="numberical-info-small " style="font-weight: bold; color:#00f; font-size: 120%; text-align: right ">{{hideRealUserName ten1}} </span></div>
                            {{else}}
                                <div style="text-align: left ">
                                    <span class="numberical-info-small " style="font-weight: bold; color:#00f; font-size: 120%; text-align: right ">Chưa có</span></div>
                            {{/if}}
                        </div>
                        <!-- Thông tin khác -->
                        
                         <div class="col-md-2 " style="padding-top: 1%; color:red;font-weight:bold;font-size:20px;">{{isNewProduct tgbatdau}}</div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
        
    {{/each}}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {{#if showPrevPage}}
                <li>
                    <a href="javascript: addOrUpdateUrlParam('page', {{prevPage}});" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {{/if}}
            {{#each pages }}
                {{#if isActive }}
                    <li class="active">
                        <a href="javascript: addOrUpdateUrlParam('page', {{pageValue}});">{{pageValue}}</a>
                    </li>
                {{else}}
                    <li>
                        <a href="javascript: addOrUpdateUrlParam('page', {{pageValue}});">{{pageValue}}</a>
                    </li>
                {{/if}}
            {{/each}}
            {{#if showNextPage }}
                <li>
                    <a href="javascript: addOrUpdateUrlParam('page', {{nextPage}});" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {{/if}}
        </ul>
    </nav>
   </div>
